<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بدأ التحدي</title>
    <link rel="stylesheet" href="style/game.css">
</head>
<body>
    
    <img src="images/bg.png" alt="" class="bg">

    <div class="up">
        <h1>#123</h1>
        <p>اجمالي عدد الاسألة : 10</p>
    </div>

    <div class="down">
        <div class="user">
            <p>سؤال الي :</p>
            <p class="user">رضوان جابر</p>
        </div>

        <h1>بتحب تاكل اية ؟</h1>

        <button>ضن</button>

    </div>

</body>
</html>