<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اضافة الاسألة</title>
    <link rel="stylesheet" href="style/question.css">
</head>
<body>
    
    <img src="images/bg.png" alt="" class="bg">

    <div class="up">
        <h1>#123</h1>
    </div>

    <div class="down">
        <div class="left">
            
            <div class="user">
                <img src="images/bg.png" width="30px" height="30px" alt="">
                <p>Username</p>
            </div>
            

        </div>

        <div class="right">
            <div class="details">
                <p> عدد الاسألة : 10</p>
                <p>عدد الاسألة الخاصة بك : 20</p>
            </div>
            <input type="text" placeholder="أدخل سؤالك">
            <button>اضافة</button>
        
        </div>

    </div>

</body>
</html>